@font-face {
    font-family: "anna";
    src: url("anna.ttf");
}

.cim {
    color:white;
    font-size: 100px;
    font-family: anna;
}

.ep {
    color: white;
    font-size: 40px;
    font-family: anna;
}

.kep {
    border-color: white;
}

.nevek {
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: anna;
}

.snevek {
    color: white;
    font-size: 40px;
    font-family: anna;
}

.link{
text-decoration: none;
color: royalblue;
font-size: 40px;
}

.helyezkedes {
    color: rgb(182, 133, 9);
}

.index {
    font-family: anna;
    text-decoration: none;
    color: rgb(148, 173, 255);
    font-size: 70px;
}

.indexcim {
    color:white;
    font-family: anna;
    font-size: 6vw;
}
.strat935nev{
    color: white;
    font-family: anna;
    font-size: 80px;
}
.operatorok{
    display: block;
    margin-left: auto;
  margin-right: auto;
}
.vonal{
    display: block;
    margin-left: 55px;
    margin-right: auto;
    width: 450px;
}
.alapinfo{
    margin-left: 80px;
    color: white;
    font-family: anna;
    font-size: 35px;
}
.kepek{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: white;
    border-block-end-width: 10px;
}
.br{
    display: block;
    content: "";
    margin-top: 200px;
}
.szoveg{
    text-align: center;
    color: white;
    font-family: anna;
    font-size: 40px;
}
